.pictograma-actualizar::before {
  content: '\61';
}

.pictograma-agregar::before {
  content: '\62';
}

.pictograma-angulo-derecho::before {
  content: '\64';
}

.pictograma-angulo-doble-abajo::before {
  content: '\65';
}

.pictograma-angulo-doble-arriba::before {
  content: '\66';
}

.pictograma-angulo-doble-derecha::before {
  content: '\67';
}

.pictograma-angulo-doble-izquierda::before {
  content: '\68';
}

.pictograma-angulo-izquierdo::before {
  content: '\69';
}

.pictograma-aprobado::before {
  content: '\6a';
}

.pictograma-archivo-descargar::before {
  content: '\6b';
}

.pictograma-archivo-subir::before {
  content: '\6c';
}

.pictograma-arrastrar::before {
  content: '\6d';
}

.pictograma-ayuda::before {
  content: '\6e';
}

.pictograma-buscar::before {
  content: '\6f';
}

.pictograma-calendario::before {
  content: '\70';
}

.pictograma-cambio-tipografia::before {
  content: '\71';
}

.pictograma-capa-lineas::before {
  content: '\72';
}

.pictograma-capa-puntos::before {
  content: '\73';
}

.pictograma-casilla::before {
  content: '\74';
}

.pictograma-casilla-verificada::before {
  content: '\75';
}

.pictograma-cerrar::before {
  content: '\76';
}

.pictograma-colaborar::before {
  content: '\77';
}

.pictograma-compartir::before {
  content: '\78';
}

.pictograma-contraste::before {
  content: '\79';
}

.pictograma-control-comenzar::before {
  content: '\7a';
}

.pictograma-control-detener::before {
  content: '\41';
}

.pictograma-control-final::before {
  content: '\42';
}

.pictograma-control-inicio::before {
  content: '\43';
}

.pictograma-control-pausa::before {
  content: '\44';
}

.pictograma-copiar::before {
  content: '\45';
}

.pictograma-documento::before {
  content: '\46';
}

.pictograma-documento-csv::before {
  content: '\47';
}

.pictograma-documento-geojson::before {
  content: '\48';
}

.pictograma-documento-geopaquete::before {
  content: '\49';
}

.pictograma-documento-pdf::before {
  content: '\4a';
}

.pictograma-documento-png::before {
  content: '\4b';
}

.pictograma-documento-ppt::before {
  content: '\4c';
}

.pictograma-documento-word::before {
  content: '\4d';
}

.pictograma-editar::before {
  content: '\4e';
}

.pictograma-eliminar::before {
  content: '\4f';
}

.pictograma-enlace-subrayado::before {
  content: '\50';
}

.pictograma-estrella::before {
  content: '\51';
}

.pictograma-flecha-abajo::before {
  content: '\52';
}

.pictograma-flecha-abajo-derecha::before {
  content: '\53';
}

.pictograma-flecha-abajo-izquierda::before {
  content: '\54';
}

.pictograma-flecha-arriba::before {
  content: '\55';
}

.pictograma-flecha-arriba-derecha::before {
  content: '\56';
}

.pictograma-flecha-arriba-izquierda::before {
  content: '\57';
}

.pictograma-flecha-derecha::before {
  content: '\58';
}

.pictograma-flechas-horizontales::before {
  content: '\59';
}

.pictograma-flkt::before {
  content: '\5a';
}

.pictograma-grupo::before {
  content: '\30';
}

.pictograma-social-github::before {
  content: '\32';
}

.pictograma-social-youtube::before {
  content: '\34';
}

.pictograma-informacion::before {
  content: '\35';
}

.pictograma-inicio::before {
  content: '\36';
}

.pictograma-mapa-centro::before {
  content: '\37';
}

.pictograma-mapa-generador::before {
  content: '\38';
}

.pictograma-maximizar::before {
  content: '\39';
}

.pictograma-menu::before {
  content: '\21';
}

.pictograma-mexico::before {
  content: '\22';
}

.pictograma-minimizar::before {
  content: '\23';
}

.pictograma-nivel::before {
  content: '\24';
}

.pictograma-numerales::before {
  content: '\25';
}

.pictograma-ojo-ocultar::before {
  content: '\26';
}

.pictograma-ojo-ver::before {
  content: '\27';
}

.pictograma-ordenar-alfabetico-asc::before {
  content: '\28';
}

.pictograma-ordenar-alfabetico-desc::before {
  content: '\29';
}

.pictograma-ordenar-asc::before {
  content: '\2a';
}

.pictograma-ordenar-desc::before {
  content: '\2b';
}

.pictograma-capa-poligono::before {
  content: '\2d';
}

.pictograma-reloj::before {
  content: '\2e';
}

.pictograma-restar::before {
  content: '\2f';
}

.pictograma-teclado::before {
  content: '\3a';
}

.pictograma-ubicacion::before {
  content: '\3b';
}

.pictograma-vista-simplificada::before {
  content: '\3c';
}

.pictograma-voto-no::before {
  content: '\3d';
}

.pictograma-voto-si::before {
  content: '\3e';
}

.pictograma-accesibilidad::before {
  content: '\3f';
}

.pictograma-restablecer::before {
  content: '\40';
}

.pictograma-flecha-izquierda::before {
  content: '\5b';
}

.pictograma-enlace-externo::before {
  content: '\5d';
}

.pictograma-metadatos::before {
  content: '\5e';
}

.pictograma-visualizador::before {
  content: '\5f';
}

.pictograma-zoom-instruccional::before {
  content: '\60';
}

.pictograma-angulo-arriba::before {
  content: '\7b';
}

.pictograma-social-instagram::before {
  content: '\7c';
}

.pictograma-persona::before {
  content: '\2c';
}

.pictograma-correo::before {
  content: '\7e';
}

.pictograma-corazon::before {
  content: '\7d';
}

.pictograma-mover::before {
  content: '\5c';
}

.pictograma-guardar::before {
  content: '\e000';
}

.pictograma-bajar-capa::before {
  content: '\31';
}

.pictograma-subir-capa::before {
  content: '\33';
}

.pictograma-tabla::before {
  content: '\e001';
}

.pictograma-social-linkedin::before {
  content: '\e003';
}

.pictograma-social-x::before {
  content: '\e004';
}

.pictograma-social-twitter::before {
  content: '\e005';
}

.pictograma-social-facebook::before {
  content: '\e006';
}

.pictograma-adelantar-10::before {
  content: '\63';
}

.pictograma-regresar-10::before {
  content: '\e002';
}

.pictograma-angulo-abajo::before {
  content: '\e007';
}

.pictograma-silenciar::before {
  content: '\e008';
}

.pictograma-accesibilidad-1::before {
  content: '\e00a';
}

.pictograma-enlace-externo-1::before {
  content: '\e00b';
}

.pictograma-norte::before {
  content: '\e00c';
}

.pictograma-filtro::before {
  content: '\e00d';
}

.pictograma-escribir::before {
  content: '\e00e';
}

.pictograma-capas::before {
  content: '\e00f';
}

.pictograma-alerta::before {
  content: '\e010';
}

.pictograma-volumen::before {
  content: '\e009';
}

.pictograma-bot::before {
  content: '\e011';
}

.pictograma-cerrar-sesion::before {
  content: '\e012';
}

.pictograma-chat::before {
  content: '\e013';
}

.pictograma-explorar::before {
  content: '\e014';
}

.pictograma-ia::before {
  content: '\e015';
}

.pictograma-limpiar::before {
  content: '\e016';
}

.pictograma-previsualizar::before {
  content: '\e017';
}

.pictograma-privado::before {
  content: '\e018';
}

.pictograma-proyectos::before {
  content: '\e019';
}

.pictograma-reporte::before {
  content: '\e01a';
}

.pictograma-localizacion::before {
  content: '\e01b';
}
